html, body{
  margin: 0;
  padding: 0;
}

ul{
  margin: 5px auto;
  padding: 0 5px;
}

li{
  cursor: pointer;  
  display: inline-block;
  list-style-type: none;
  margin: 3px;  
}

.btn{
  border-radius: .3rem;
  padding: 5px 7px;
}

.btn-default{
  color: #4e4e4e;
  background-color: #eee;
}

.btn-primary{
  color: #f4f4f4;
  background-color: #428bca;
}

.about{
  color: #787878;
  text-align: center;
}